<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped" id="formsList" style="width: 100rem;">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Username</th>
            <th scope="col">E-mail</th>
			<th scope="col">Organisation</th>
            <th scope="col">Status</th>
            <th scope="col">Created By</th>
            <th scope="col">Created On</th>
            <th scope="col">Approver</th>
            <th scope="col">Last Status Updated On</th>
            <th scope="col">Last Modified On</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

            <tr th:each="form: ${formsList}"
                th:style="${form.status == 'PENDING'} ? 'background-color: darkorange;' : (${form.status == 'IN_REVIEW'} ? 'background-color: aquamarine;' : (${form.status == 'RESUBMITTED'} ? 'background-color: lightcoral;' : 'background-color: white;')) ">

            <td th:text="${form.id}"></td>
            <td th:text="${form.firstName}"></td>
            <td th:text="${form.lastName}"></td>
            <td th:text="${form.userName}"></td>
            <td th:text="${form.email}"></td>
			<td th:text="${form.organisation}"></td>
            <td th:text="${form.status}"></td>
            <td th:text="${form.createdBy}"></td>
            <td th:text="${form.createdOn}"></td>
            <td th:text="${form.checker}"></td>
            <td th:text="${form.lastStatusChangedOn}"></td>
            <td th:text="${form.lastModifiedOn}"></td>
            <td>
                <span th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')}">
					<a href="#" title="View" data-toggle="tooltip" th:href="@{'/viewform/'+ ${form.id}}"><i class="fas fa-eye"></i></a>
				</span>
				<span th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')}">
					| <a href="#" title="Approve" data-toggle="tooltip" th:href="@{'/approveform/'+ ${form.id}}"><i class="fas fa-check"></i></a>
				</span>
                <span th:if="${#authorization.expression('hasRole(''ROLE_CHECKER'')')}">
					| <a href="#" title="Reject" data-toggle="tooltip" th:onclick="'javascript:confirmReject(\''+ ${form.id} +'\');'"><i class="fas fa-window-close"></i></a>
				</span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error Message</div>
</div>

<script type="text/javascript">
    function confirmReject(id) {
        $('#rejectModal').modal('show');
        $("#userIdHiddenInput").val(id);
    }

    function rejectUcf() {
        var id = $("#userIdHiddenInput").val();
        window.location = "rejectform/" + id;
    }
</script>